header {
  width: 100%;
  height: 80px;
  position: fixed;
  top: 0;
  padding: 0 15px;
  background-color: white;
  border-bottom: 1px solid #eef1f1;
  @include responsive(small) {
    padding-left: 45px;
    padding-right: 45px;
  }
  @include responsive(large) {
    display: grid;
  }
  .header-container {
    width: inherit;
    height: inherit;
    @include container(flex, space-between, center);
    @include responsive(large) {
      justify-self: center;
      max-width: 1110px;
    }
    svg {
      fill: $gray-color;
    }
    .laptop-svg {
      display: none;
    }
    @include responsive(medium) {
      .mobile-svg {
        display: none;
      }
      .laptop-svg {
        width: 190px;
        display: block;
        position: relative;
        left: -12.5px;
      }
    }
    nav {
      display: none;
      @include responsive(large) {
        display: flex;
        height: 100%;
        gap: 32px;
      }
      #nav-box {
        position: relative;
        cursor: pointer;
        height: inherit;
        display: flex;
        align-items: center;
        font-family: "regular";
        font-size: 14px;
        color: $nav-color;
        overflow: hidden;
        @include responsive(largest) {
          font-size: 16px;
        }
        #nav-box-line {
          position: absolute;
          top: auto;
          bottom: 0;
          left: 50%;
          width: 0;
          height: 2px;
          background-color: $blue-color;
          border-radius: 1px;
          transition: width 1s ease, left 1s ease;
        }
        &.nav-active #nav-box-line {
          width: 100%;
          left: 0;
        }
      }
    }
    .header-right {
      height: 100%;
      @include container(flex, auto, center);

      gap: 15px;
      padding-right: 8px;
      @include responsive(small) {
        gap: 25px;
      }
      @include responsive(large) {
        gap: 25px;
      }
      .loop-svg {
        cursor: pointer;
        &:hover {
          fill: $hover-color;
          transition: 1s;
        }
      }
    }

    .arrow-box {
      @include container(flex, auto, center);
      gap: 6px;
      font-family: "bold";
      font-size: 12px;
      color: $blue-color;
      cursor: pointer;
      &:hover {
        color: $hover-color;
        transition: 1s;
        svg {
          fill: $hover-color;
          transition: 1s;
        }
      }
      p {
        margin-top: 2px;
      }
      @include responsive(small) {
        font-size: 14px;
      }
      svg {
        fill: $blue-color;
      }
    }
    #burger-menu {
      @include container(flex, auto, flex-start);
      flex-direction: column;
      gap: 5px;
      cursor: pointer;
      @include responsive(large) {
        display: none;
      }
      div {
        height: 2px;
        background-color: $gray-color;
        border-radius: 1px;
        transition: all 0.5s ease;
      }
      .first {
        width: 11px;
      }
      .second {
        width: 20px;
      }

      .third {
        width: 15px;
      }

      &.burger-menu-active .first {
        width: 20px;
        transform: rotate(-45deg) translateY(10px) translateX(-2px);
      }

      &.burger-menu-active .second {
        opacity: 0;
      }

      &.burger-menu-active .third {
        width: 20px;
        transform: rotate(45deg) translateY(-8px);
      }
    }
    .language-box {
      height: 70%;

      @include container(flex, auto, center);
      position: relative;
      display: none;
      &:hover .geo-box {
        background-color: gainsboro;
        transition: background-color 0.5s ease-in;
      }
      @include responsive(large) {
        display: flex;
      }
      .geo-box {
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 4px;
        font-family: "bold";
        font-size: 14px;
        color: $gray-color;
        padding: 8px;
        border-radius: 4px;
        @include responsive(largest) {
          font-size: 16px;
        }
      }
      #eng-box {
        position: absolute;
        z-index: 105;
        top: 55px;
        cursor: pointer;
        justify-content: center;
        font-family: "medium";
        font-size: 14px;
        color: $nav-color;
        padding: 12px 18px;
        border: 1px solid #e1e4e5;
        border-radius: 4px;
        box-shadow: 0 4px 6px 2px rgba(12, 43, 67, 0.05);
        background-color: white;
        &:hover {
          background-color: $bd-bg;
          transition: background-color 0.25s ease-in-out;
        }
        @include responsive(largest) {
          font-size: 16px;
        }
      }
      .eng-box-active {
        display: flex;
      }
      .eng-box-none {
        display: none;
      }
    }
  }
  .drop-none {
    display: none;
  }
  .drop-active {
    display: block;
  }
  #drop-down-container {
    padding: 32px 45px;
    background-color: #ffffff;
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    z-index: 102;
    animation: fade 0.5s ease-in-out;
    @media only screen and (max-width: 1024px) {
      display: none;
    }
    .drop-down-box {
      width: 100%;
      max-width: 1100px;
      @include container(flex, space-between, auto);
      margin: 0 auto;
      .image-box {
        display: flex;
        flex-direction: column;
        gap: 10px;
        a {
          display: flex;
          gap: 6px;
          p {
            margin-top: 2px;
            font-family: "bold";
            font-size: 14px;
            color: $blue-color;
          }
          svg {
            fill: $blue-color;
          }
          &:hover {
            p {
              color: $hover-color;
              transition: 0.5s;
            }
            svg {
              fill: $hover-color;
              transition: 0.5s;
            }
          }
        }
      }
      .list-box {
        width: 450px;
        display: flex;
        gap: 45px;
        div {
          width: 96.25px;
          ul {
            display: none;
            flex-direction: column;
            gap: 24px;
            animation: fade 1s ease-in-out;
            li {
              cursor: pointer;
              font-size: 16px;
              color: $nav-color;
              @include responsive(largest) {
                font-family: "medium";
                font-size: 14px;
              }
              &:hover {
                color: $blue-color;
                transition: 0.5s;
              }
            }
          }
          .list-active {
            display: flex;
          }
          .first-list {
            padding-left: 15px;
          }
          @include responsive(largest) {
            .first-list {
              padding-left: 0;
            }
          }
        }
      }
      .blank-box {
        width: 327px;
        height: inherit;
        background-color: transparent;
      }
    }
  }
  #menu-container {
    display: none;
    overflow-y: scroll;
    position: fixed;
    z-index: 100;
    top: 80px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    animation: fade 0.5s ease-in-out;
    @include responsive(large) {
      display: none !important;
    }
    .menu-nav-box {
      width: 100%;
      .nav-item {
        padding: 0 15px 16px 15px;
        border-bottom: 1px solid #d1d5d6;
        @include responsive(small) {
          padding: 32px 45px;
        }
        #top {
          @include container(flex, space-between, flex-end);
          h3 {
            padding-top: 32px;
            font-family: "bold";
            font-size: 18px;
            color: $swiper-h-color;
          }
          svg {
            position: relative;
            bottom: 10px;
            transition: transform 0.5s ease-in;
          }
          &.active + .bottom {
            max-height: 190px;
          }

          &.active svg {
            transform: rotate(180deg);
          }
        }
        .bottom {
          max-height: 0;
          overflow: hidden;
          display: flex;
          padding-top: 20px;
          flex-direction: column;
          gap: 16px;
          transition: max-height 1.3s ease;
          p {
            font-size: 16px;
            color: $gray-color;
          }
        }
      }
    }
    .contact-container {
      width: 100%;
      padding: 32px 15px;
      border-bottom: 1px solid #eef1f1;
      @include responsive(small) {
        padding: 32px 45px;
      }
      .contact-us {
        font-family: "bold";
        font-size: 16px;
        color: $swiper-h-color;
        margin-bottom: 16px;
        @include responsive(small) {
          font-size: 24px;
          margin-bottom: 24px;
        }
        @include responsive(medium) {
          font-size: 14px;
          margin-bottom: 16px;
        }
      }
      .contact-box {
        display: flex;
        flex-direction: column;
        gap: 32px;
        margin: 32px 0 48px 0;
        @include responsive(small) {
          margin: 32px 0;
        }
        @include responsive(medium) {
          gap: 16px;
        }
        .contact-info {
          display: flex;
          align-items: center;
          gap: 10px;
          font-family: "medium";
          font-size: 14px;
          color: $gray-color;
        }
      }
      .social-container {
        h3 {
          font-family: "bold";
          font-size: 16px;
          margin-bottom: 24px;
          @include responsive(small) {
            font-size: 24px;
          }
          @include responsive(medium) {
            font-size: 14px;
          }
        }
        .social-icons-box {
          display: flex;
          gap: 15px;
          a {
            width: 52px;
            height: 52px;
            @include container(flex, center, center);
            background-color: $bd-bg;
            border-radius: 6px;
            @include responsive(medium) {
              width: 40px;
              height: 40px;
            }
            svg {
              fill: $gray-color;
            }
            &:hover {
              background-color: #e1e4e5;
              transition: 0.5s;
              svg {
                fill: $blue-color;
                transition: 0.5s;
              }
            }
          }
        }
      }
    }
    .last-box {
      width: 100%;
      padding: 24px 15px;
      display: flex;
      flex-direction: column-reverse;
      gap: 24px;
      background-color: $bd-bg;
      @include responsive(small) {
        padding: 32px 45px;
        gap: 32px;
      }
      @include responsive(medium) {
        gap: 0;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
      }
      .left-side {
        @include container(flex, auto, center);
        gap: 8px;
        svg {
          width: 21px;
          fill: $swiper-p-color;
        }
        p {
          font-size: 12px;
          color: $swiper-p-color;
          @include responsive(small) {
            font-size: 14px;
          }
          @include responsive(medium) {
            color: $gray-color;
            font-size: 12px;
          }
        }
      }
      .right-side {
        display: flex;
        gap: 30px;
        a {
          color: $gray-color;
          font-size: 12px;
          @include responsive(small) {
            font-size: 14px;
          }
          @include responsive(medium) {
            font-size: 12px;
          }
        }
      }
    }
  }
}
