body {
  background-color: $bd-bg;
  height: 100vh;
  header {
    position: fixed;
    width: 100%;
    height: 80px;
    padding: 0 15px;
    background-color: white;
    border-bottom: 1px solid #eef1f1;
    @include responsive(small) {
      padding-left: 45px;
      padding-right: 45px;
    }
    @include responsive(large) {
      display: grid;
    }
    .header-container {
      width: inherit;
      height: inherit;
      @include container(flex, space-between, center);
      @include responsive(large) {
        justify-self: center;
        max-width: 1110px;
      }
      svg {
        fill: $gray-color;
      }
      .laptop-svg {
        display: none;
      }
      @include responsive(medium) {
        .mobile-svg {
          display: none;
        }
        .laptop-svg {
          display: block;
          width: 190px;
          cursor: pointer;
        }
      }
      nav {
        display: none;
        div {
          cursor: pointer;
          height: inherit;
          display: flex;
          align-items: center;
          font-family: "regular";
          font-size: 14px;
          color: $nav-color;
          @include responsive(largest) {
            font-size: 16px;
          }
        }
        @include responsive(large) {
          display: flex;
          height: 100%;
          gap: 32px;
        }
      }
      .header-right {
        height: 100%;
        @include container(flex, auto, center);

        gap: 15px;
        padding-right: 8px;
        @include responsive(small) {
          gap: 25px;
        }
        @include responsive(large) {
          gap: 25px;
        }
        .loop-svg {
          cursor: pointer;
          &:hover {
            fill: $hover-color;
            transition: 1s;
          }
        }
      }

      .arrow-box {
        @include container(flex, auto, center);
        gap: 6px;
        font-family: "bold";
        font-size: 12px;
        color: $blue-color;
        cursor: pointer;
        &:hover {
          color: $hover-color;
          transition: 1s;
          svg {
            fill: $hover-color;
            transition: 1s;
          }
        }
        p {
          margin-top: 2px;
        }
        @include responsive(small) {
          font-size: 14px;
        }
        svg {
          fill: $blue-color;
        }
      }
      #burger-menu {
        @include container(flex, auto, flex-start);
        flex-direction: column;
        gap: 5px;
        cursor: pointer;
        @include responsive(large) {
          display: none;
        }
        div {
          height: 2px;
          background-color: $gray-color;
          border-radius: 1px;
        }
        .first {
          transition: transform 1s ease;
          width: 11px;
        }
        .first-line-active {
          position: relative;
          top: 5px;
          height: 3px;
          width: 20px;
          transition: 0.6s;
          transform: translateZ(0) scaleX(1) rotateX(0deg) rotateY(0deg)
            rotate(45deg) skew(0deg, 0deg);
          transform-style: preserve-3d;
        }
        .second {
          transition: transform 1s ease;
          width: 20px;
        }
        .second-line-active {
          display: none;
        }
        .third {
          transition: transform 1s ease;
          width: 15px;
        }
        .third-line-active {
          position: relative;
          bottom: 3px;
          height: 3px;
          width: 20px;
          transition: 0.6s;
          transform: translateZ(0) scaleX(1) rotateX(0deg) rotateY(0deg)
            rotate(-45deg) skew(0deg, 0deg);
          transform-style: preserve-3d;
        }
      }
      .language-box {
        height: 70%;
        display: flex;
        align-items: center;
        position: relative;
        display: none;
        @include responsive(large) {
          display: flex;
        }
        .geo-box {
          cursor: pointer;
          display: flex;
          gap: 4px;
          font-family: "bold";
          font-size: 14px;
          color: $gray-color;
          padding: 8px;
          border-radius: 4px;
          &:hover {
            background-color: gainsboro;
            transition: background-color 0.25s ease-in-out;
          }
          @include responsive(largest) {
            font-size: 16px;
          }
        }
        #eng-box {
          position: absolute;
          z-index: 102;
          top: 50px;
          cursor: pointer;
          justify-content: center;
          font-family: "medium";
          font-size: 14px;
          color: $nav-color;
          padding: 15px 18px;
          border: 1px solid #e1e4e5;
          border-radius: 4px;
          box-shadow: 0 4px 6px 2px rgba(12, 43, 67, 0.05);
          background-color: white;
          &:hover {
            background-color: $bd-bg;
            transition: background-color 0.25s ease-in-out;
          }
          @include responsive(largest) {
            font-size: 16px;
          }
        }
        .eng-box-active {
          display: flex;
        }
        .eng-box-none {
          display: none;
        }
      }
    }
    #drop-down-container {
      display: grid;
      padding: 32px 45px;
      background-color: #ffffff;
      position: absolute;
      top: 80px;
      left: 0;
      right: 0;
      .drop-down-box {
        width: 100%;
        max-width: 1100px;
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        .image-box {
          display: flex;
          flex-direction: column;
          gap: 10px;
          a {
            display: flex;
            gap: 6px;
            p {
              margin-top: 2px;
              font-family: "bold";
              font-size: 14px;
              color: $blue-color;
            }
            svg {
              fill: $blue-color;
            }
            &:hover {
              p {
                color: $hover-color;
                transition: 0.5s;
              }
              svg {
                fill: $hover-color;
                transition: 0.5s;
              }
            }
          }
        }
        .list-box {
          width: 450px;
          display: flex;
          gap: 45px;
          ul {
            display: flex;
            flex-direction: column;
            gap: 24px;
            li {
              cursor: pointer;
              width: 96.25px;
              font-family: "regular";
              font-size: 16px;
              color: $nav-color;
              @include responsive(largest) {
                font-family: "medium";
                font-size: 14px;
              }
              &:hover {
                color: $blue-color;
                transition: 0.5s;
              }
            }
          }
          .first-list {
            padding-left: 15px;
          }
          @include responsive(largest) {
            .first-list {
                padding-left: 0;
            }
          }
        }
        .blank-box {
          width: 327px;
          height: inherit;
          background-color: transparent;
        }
      }
    }
  }
}
