.button-menu-section {
  .button-menu {
    position: fixed;
    z-index: 105;
    right: 15px;
    bottom: 15px;
    display: flex;
    flex-direction: column-reverse;
    @include responsive(small) {
      bottom: 24px;
      right: 24px;
    }
    @include responsive(large) {
      bottom: 32px;
      right: 32px;
    }
    @include responsive(largest) {
      bottom: 40px;
      right: 40px;
    }
    #trigger-box {
      cursor: pointer;
      width: 48px;
      height: 48px;
      @include container(flex, center, center);
      border-radius: 50%;
      background-color: $trigger-box-background;
      transition: background-color 0.25s ease-in-out;
      @include responsive(small) {
        width: 56px;
        height: 56px;
      }
      &:hover {
        background-color: $trigger-box-background-hover;
      }
      svg {
        fill: $white-color;
        animation: fade 0.5s ease-in;
      }
      .open-svg {
        display: block;
      }
      &.active .open-svg {
        display: none;
      }
      .close-svg {
        display: none;
      }
      &.active .close-svg {
        display: block;
      }
      &.active ~ .active-menu-container {
        display: flex;
      }
    }
    .active-menu-container {
      display: none;
      flex-direction: column-reverse;
      align-items: center;
      gap: 8px;
      margin-bottom: 8px;
      animation: fade 1s ease-in;
      @include responsive(small) {
        gap: 12px;
        margin-bottom: 12px;
      }
      .active-menu-box {
        display: flex;
        align-items: center;
        position: relative;
        .active-menu-box-text {
          width: max-content;
          display: none;
          position: absolute;
          right: 70px;
          padding: 8px 12px;
          border-radius: 4px;
          font-size: 14px;
          background-color: $trigger-box-background;
          color: $white-color;
          & + .active-menu-hover-box:hover {
            display: flex;
          }
        }
        .active-menu-hover-box {
          cursor: pointer;
          width: 48px;
          height: 48px;
          background-color: $white-color;
          border-radius: 50%;
          transition: background-color 0.5s ease-in-out;
          @include container(flex, center, center);
          @include responsive(small) {
            width: 56px;
            height: 56px;
          }
          @include responsive(large) {
            &:hover {
              background-color: $hover-color;
              + .active-menu-box-text {
                display: flex;
              }
              svg {
                fill: $white-color;
                transition: 0.5s;
              }
            }
          }
          svg {
            fill: $gray-color;
          }
        }
      }
    }
  }
}

#main-footer-container {
  margin-top: 80px;
  width: 100%;
  overflow-y: scroll;
  animation: fade 0.5s ease-in-out;
  flex: 1;
  position: relative;
  z-index: 101;
  &::-webkit-scrollbar {
    width: 0;
    transition: width 0.5s ease;
  }
  &.show-scrollbar {
    &::-webkit-scrollbar {
      width: 8px;
    }
    &::-webkit-scrollbar-track {
      background: $scrollbar-background;
      border-radius: 4px;
    }
    &::-webkit-scrollbar-thumb {
      background: $scrollbar-thumb-background;
      border-radius: 2px;
    }
    &::-webkit-scrollbar-button {
      display: none;
    }
  }
  @include responsive(large) {
    display: block !important;
  }
  main {
    .section-breadcrumbs-container {
      width: 100%;
      padding: 16px 15px;
      @include responsive(small) {
        padding: 24px 45px;
      }
      @include responsive(large) {
        display: flex;
        justify-content: center;
        padding: 24px 45px;
      }
      .breadcrumbs-box {
        width: inherit;
        max-width: 1110px;
        display: flex;
        justify-content: flex-start;
        gap: 6px;
        @include responsive(small) {
          img {
            display: none;
          }
        }
        p {
          font-family: "medium";
          font-size: 12px;
          color: $swiper-h-color;
        }
      }
    }
    .section-image-message {
      width: 100%;
      padding: 32px 0;
      @include responsive(medium) {
        padding: 32px 45px;
      }
      @include responsive(large) {
        display: flex;
        justify-content: center;
        padding: 32px 45px 60px;
      }
      .image-message-box {
        width: inherit;
        height: 360px;
        position: relative;
        overflow: hidden;
        border-radius: 4px;
        @include responsive(small) {
          height: 450px;
        }
        @include responsive(large) {
          max-width: 1110px;
          height: 360px;
        }
        @include responsive(largest) {
          height: 380px;
        }
        img {
          width: inherit;
          height: inherit;
          object-fit: cover;
          filter: contrast(100%) brightness(70%);
        }
        .image-message-text {
          display: flex;
          flex-direction: column;
          gap: 16px;
          position: absolute;
          bottom: 20px;
          left: 15px;
          right: 15px;
          @include responsive(small) {
            gap: 20px;
            bottom: 36px;
            left: 45px;
            right: 45px;
          }
          @include responsive(large) {
            bottom: 90px;
            left: 80px;
          }
          @include responsive(largest) {
            bottom: 105px;
            left: 95px;
          }
          h1 {
            font-family: "bold";
            color: $white-color;
            @include responsive(small) {
              font-size: 24px;
            }
            @include responsive(largest) {
              font-size: 28px;
            }
          }
          p {
            font-size: 14px;
            color: $white-color;
            @include responsive(medium) {
              max-width: 450px;
            }
            @include responsive(largest) {
              max-width: 540px;
              font-size: 16px;
            }
          }
          button {
            height: 50px;
            @include container(flex, center, center);
            gap: 7px;
            background: linear-gradient(15deg, #001682, #3240e5);
            border: none;
            border-radius: 4px;
            @include responsive(medium) {
              width: 151px;
            }
            p {
              margin-top: 2px;
              font-family: "bold";
              font-size: 12px;
            }
            svg {
              fill: white;
            }
            &:hover {
              background: $button-hover-color;
              transition: 0.5s;
            }
          }
        }
      }
    }
    .section-big-message {
      width: 100%;
      padding: 36px 15px;
      @include responsive(small) {
        padding: 40px 45px;
      }
      @include responsive(medium) {
        padding: 50px 45px;
      }
      @include responsive(large) {
        padding: 60px 45px;
        display: flex;
        justify-content: center;
      }
      p {
        max-width: 1110px;
        font-family: "medium";
        font-size: 24px;
        line-height: 1.5;
        color: $swiper-h-color;
        @include responsive(small) {
          font-size: 28px;
        }
        @include responsive(medium) {
          font-size: 32px;
        }
        @include responsive(largest) {
          font-size: 36px;
        }
      }
    }
    .section-choose-concept {
      width: 100%;
      padding: 36px 15px;
      @include responsive(small) {
        padding: 40px 45px;
      }
      @include responsive(large) {
        padding: 60px 45px;
        display: flex;
        justify-content: center;
      }
      .section-choose-concept-box {
        width: 100%;
        max-width: 1110px;
        .section-choose-concept-header {
          font-family: "bold";
          font-size: 14px;
          color: $swiper-h-color;
          margin-bottom: 20px;
          @include responsive(small) {
            font-size: 24px;
            margin-bottom: 28px;
          }
          @include responsive(large) {
            margin-bottom: 45px;
          }
          @include responsive(largest) {
            margin-bottom: 36px;
          }
        }
        .section-choose-concept-card-box {
          width: 100%;
          display: grid;
          gap: 16px;
          grid-template-areas: "first second third";
          overflow-x: scroll;
          #first-card {
            grid-area: first;
          }
          #second-card {
            grid-area: second;
          }
          #third-card {
            grid-area: third;
          }
          @include responsive(medium) {
            overflow: hidden;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto auto;
            grid-template-areas:
              "first second"
              "third second";
            gap: 20px;
            #second-card {
              height: 494px;
            }
          }
          @include responsive(large) {
            gap: 30px;
            #second-card {
              height: 542px;
            }
          }
          .section-card {
            cursor: pointer;
            width: inherit;
            min-width: 280px;
            height: 232px;
            position: relative;
            overflow: hidden;
            border-radius: 8px;
            &:hover img {
              transform: scale(1.025);
            }
            @include responsive(large) {
              height: 256px;
            }
            img {
              width: inherit;
              height: inherit;
              object-fit: cover;
              display: block;
              filter: contrast(80%) brightness(80%);
              transition: transform 0.5s ease;
            }
            .card-text {
              position: absolute;
              left: 24px;
              bottom: 24px;
              @include responsive(large) {
                left: 40px;
                bottom: 40px;
              }
              h1 {
                font-family: "bold";
                font-size: 16px;
                color: $white-color;
                @include responsive(medium) {
                  font-size: 24px;
                }
              }
              .card-text-link {
                @include container(flex, auto, center);
                gap: 6px;
                margin-top: 20px;
                line-height: 1.4;

                &:hover {
                  svg {
                    fill: $aeaeae;
                    transition: 0.5s ease-in-out;
                  }
                  a {
                    color: $aeaeae;
                    text-decoration: none;
                    transition: 0.25s ease-in-out;
                  }
                }
                svg {
                  fill: $white-color;
                }
                a {
                  font-family: "bold";
                  font-size: 12px;
                  color: $white-color;
                  text-decoration: underline;
                  margin-top: 2px;
                  @include responsive(small) {
                    font-size: 14px;
                  }
                }
              }
            }
          }
        }
      }
    }
    .section-numbers {
      width: 100%;
      padding: 36px 15px;
      @include responsive(small) {
        padding: 40px 45px;
      }
      @include responsive(medium) {
        padding: 50px 45px;
      }
      @include responsive(large) {
        padding: 60px 45px;
        display: flex;
        justify-content: center;
      }
      .section-numbers-box {
        width: inherit;
        max-width: 1110px;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 16px;
        @include responsive(small) {
          gap: 30px;
        }
        @include responsive(large) {
          grid-template-columns: 1fr 1fr 1fr;
          grid-template-rows: 1fr;
        }
        .section-numbers-card {
          display: flex;
          flex-direction: column;
          gap: 16px;
          padding: 24px;
          background-color: $white-color;
          border-radius: 8px;
          @include responsive(small) {
            padding: 40px 48px;
          }
          h1 {
            font-family: "bold";
            font-size: 36px;
            color: $swiper-h-color;
            @include responsive(small) {
              font-size: 44px;
            }
          }
          p {
            font-family: "medium";
            font-size: 14px;
            color: $gray-color;
            @include responsive(small) {
              font-size: 16px;
            }
          }
        }
      }
    }
    .section-offers {
      width: 100%;
      padding: 36px 0 36px 15px;
      @include responsive(small) {
        padding: 40px 0 40px 45px;
      }
      @include responsive(medium) {
        padding: 50px 0 50px 45px;
      }
      @include responsive(large) {
        display: flex;
        justify-content: center;
        padding: 60px 45px;
      }
      .section-offers-container {
        width: inherit;
        max-width: 1110px;
        position: relative;
        .section-offers-header {
          width: inherit;
          @include container(flex, space-between, center);
          margin-bottom: 20px;
          padding-right: 15px;
          @include responsive(small) {
            margin-bottom: 28px;
            padding-right: 45px;
          }
          @include responsive(medium) {
            margin-bottom: 36px;
          }
          h1 {
            font-family: "bold";
            font-size: 14px;
            color: $swiper-h-color;
            @include responsive(small) {
              font-size: 24px;
            }
          }
          .header-right-side {
            display: flex;
            align-items: center;
            gap: 6px;
            &:hover {
              svg {
                fill: $hover-color;
              }
              p {
                color: $hover-color;
              }
            }
            svg {
              fill: $blue-color;
              transition: fill 0.5s ease-in-out;
            }
            p {
              font-family: "bold";
              font-size: 12px;
              color: $blue-color;
              margin-top: 2px;
              transition: color 0.5s ease-in-out;
              @include responsive(small) {
                font-size: 14px;
              }
            }
          }
        }
        .section-offers-slider {
          cursor: grab;
          position: relative;
          width: inherit;
          display: flex;
          gap: 16px;
          overflow-x: auto;
          scroll-behavior: smooth;
          box-sizing: content-box;
          padding-bottom: 28px;
          user-select: none;
          &::-webkit-scrollbar {
            display: none;
          }
          scrollbar-width: none;
          scrollbar-color: transparent transparent;
          .section-offers-card {
            min-width: 80%;
            height: auto;
            display: flex;
            flex-direction: column;
            overflow: hidden;
            border: 1px solid $social-box-background;
            border-radius: 6px;
            background-color: transparent;
            transition: box-shadow 0.4s ease-in-out,
              background-color 0.4s ease-in-out;
            &:hover {
              background-color: $white-color;
              box-shadow: 0 36px 40px -15px $box-shadow-color;
            }
            @include responsive(small) {
              min-width: 45%;
            }
            @include responsive(medium) {
              border-radius: 8px;
            }
            @include responsive(large) {
              min-width: 40%;
            }
            @include responsive(largest) {
              min-width: 32%;
            }
            .card-image-box {
              position: relative;
              height: 50%;
              overflow: hidden;
              @include responsive(large) {
                height: 70%;
              }
              @include responsive(largest) {
                height: 50%;
              }
              .big-image {
                width: 100%;
                height: 100%;
                border-top-left-radius: 6px;
                border-top-right-radius: 6px;
                user-select: none;
                @include responsive(medium) {
                  border-top-left-radius: 8px;
                  border-top-right-radius: 8px;
                }
              }
              .small-image {
                width: 78px;
                height: 56px;
                position: absolute;
                top: 20px;
                right: 0;
                border-top-left-radius: 6px;
                border-bottom-left-radius: 6px;
              }
            }
            .card-text-box {
              display: flex;
              flex-direction: column;
              gap: 12px;
              padding: 20px 20px 40px;
              @include responsive(small) {
                padding: 20px;
              }
              @include responsive(medium) {
                gap: 16px;
                padding: 28px;
              }
              p {
                font-family: "bold";
                font-size: 12px;
                color: $swiper-p-color;
              }
              h1 {
                font-family: "bold";
                font-size: 14px;
                color: $swiper-h-color;
                @include responsive(medium) {
                  font-size: 16px;
                }
              }
              .p-text-box {
                display: flex;
                gap: 10px;
              }
            }
          }
        }
        .section-offers-scroll-box {
          width: 100%;
          height: 2px;
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          background: $gray-color;
          border-radius: 1px;
          pointer-events: none;
          .scroll-thumb {
            height: 100%;
            background: $blue-color;
            transition: width 0.1s ease;
          }
        }
      }
    }
    .section-digital-bank {
      width: 100%;
      padding: 32px 0;
      @include responsive(small) {
        padding: 40px 0;
      }
      @include responsive(medium) {
        padding: 50px 0;
      }
      @include responsive(large) {
        padding: 60px 0;
      }
      .section-digital-bank-container {
        width: inherit;
        position: relative;
        padding: 32px 15px;
        background-color: white;
        @include responsive(small) {
          padding: 45px;
        }
        @include responsive(medium) {
          padding: 32px 45px;
        }
        @include responsive(large) {
          display: flex;
          justify-content: center;
        }
        .section-digital-bank-box {
          width: inherit;
          max-width: 1110px;
          @include responsive(medium) {
            @include container(flex, space-between, center);
          }
          .section-digital-bank-text {
            display: flex;
            flex-direction: column;
            gap: 24px;
            @include responsive(small) {
              gap: 28px;
            }
            @include responsive(medium) {
              gap: 16px;
            }
            h1 {
              font-family: "bold";
              font-size: 14px;
              color: $swiper-h-color;
              @include responsive(small) {
                font-size: 24px;
              }
            }
            .img-phone {
              max-width: 370px;
              max-height: 482px;
              @include responsive(medium) {
                display: none;
              }
            }
            p {
              font-size: 14px;
              color: $gray-color;
              @include responsive(medium) {
                max-width: 400px;
              }
              @include responsive(large) {
                max-width: 580px;
              }
            }
            .download-link {
              width: 100%;
              height: 51.5px;
              @include container(flex, center, center);
              gap: 5px;
              font-family: "bold";
              font-size: 12px;
              background-color: #f9fafa;
              color: #182cc0;
              border: 1px solid #182cc0;
              border-radius: 4px;
              &:hover {
                border: 1px solid #e1e4e5;
                transition: 0.25s;
              }
              @include responsive(medium) {
                width: 160px;
                height: 51.5px;
              }
              @include responsive(large) {
                display: none;
              }
            }
            .google-apple-link {
              display: none;
              @include responsive(large) {
                display: flex;
                gap: 16px;
                margin-top: 16px;
                a {
                  width: 134px;
                  height: 52px;
                  @include container(flex, center, center);
                  background-color: transparent;
                  border: 1px solid #e1e4e5;
                  border-radius: 4px;
                  &:hover {
                    background-color: #e1e4e5;
                    transition: 0.5s ease-in-out;
                  }
                }
              }
            }
          }
          .img-laptop {
            display: none;
            @include responsive(medium) {
              display: block;
              width: 200px;
              height: 275px;
              position: relative;
              bottom: -32px;
            }
            @include responsive(large) {
              width: 270px;
              height: 337px;
            }
          }
        }
      }
    }
    .section-products {
      width: 100%;
      padding: 36px 15px;
      @include responsive(small) {
        padding: 40px 45px;
      }
      @include responsive(large) {
        display: flex;
        justify-content: center;
        padding: 60px 45px;
      }
      .section-products-container {
        width: inherit;
        max-width: 1110px;
        position: relative;
        .section-products-header {
          font-family: "bold";
          font-size: 14px;
          color: $swiper-h-color;
          margin-bottom: 20px;
          @include responsive(small) {
            font-size: 24px;
            margin-bottom: 28px;
          }
          @include responsive(large) {
            margin-bottom: 36px;
          }
        }
        .section-products-cards {
          width: inherit;
          display: flex;
          gap: 16px;
          overflow-x: scroll;
          scroll-behavior: smooth;
          box-sizing: content-box;
          user-select: none;
          padding-bottom: 20px;
          &::-webkit-scrollbar {
            display: none;
          }
          scrollbar-width: none;
          scrollbar-color: transparent transparent;
          scrollbar-width: none;
          scrollbar-color: transparent transparent;
          @include responsive(small) {
            padding-bottom: 28px;
          }
          @include responsive(medium) {
            padding-bottom: 38px;
          }
          @include responsive(large) {
            gap: 25px;
          }
          @include responsive(largest) {
            overflow: hidden;
            justify-content: space-between;
            gap: 0;
          }
          .card-box {
            min-width: 80%;
            height: auto;
            display: flex;
            flex-direction: column;
            overflow: hidden;
            border: 1px solid $social-box-background;
            border-radius: 6px;
            background-color: transparent;
            transition: box-shadow 0.4s ease-in-out,
              background-color 0.4s ease-in-out;
            &:hover {
              background-color: $white-color;
              box-shadow: 0 36px 40px -15px rgba(12, 43, 67, 0.07);
            }
            @include responsive(small) {
              min-width: 60%;
            }
            @include responsive(swiper-mid) {
              min-width: 45%;
            }
            @include responsive(medium) {
              min-width: 40%;
              border-radius: 8px;
            }
            @include responsive(large) {
              min-width: 35%;
            }
            @include responsive(largest) {
              min-width: 20%;
              width: 350px;
              height: 408px;
            }
            img {
              width: 100%;
              height: 50%;
              overflow: hidden;
              border-top-left-radius: 6px;
              border-top-right-radius: 6px;
              @include responsive(small) {
                height: 41%;
              }
              @include responsive(medium) {
                height: 50%;
              }
            }
          }
          .card-text {
            display: flex;
            flex-direction: column;
            gap: 12px;
            padding: 20px;
            @include responsive(medium) {
              padding: 28px;
            }
            h1 {
              font-family: "bold";
              font-size: 14px;
              color: $swiper-h-color;
              @include responsive(medium) {
                font-size: 16px;
              }
            }
            p {
              font-size: 12px;
              color: $swiper-p-color;
              @include responsive(medium) {
                font-size: 14px;
              }
              span {
                font-family: "bold";
                color: $gray-color;
              }
            }
          }
        }
        .section-products-scroll-box {
          width: 100%;
          height: 2px;
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          background-color: $gray-color;
          border-radius: 1px;
          pointer-events: none;
          @include responsive(largest) {
            display: none;
          }
          .scroll-thumb {
            height: 100%;
            background: $blue-color;
            transition: width 0.1s ease;
          }
        }
      }
    }
    .section-prizes {
      width: 100%;
      padding: 36px 15px;
      @include responsive(small) {
        padding: 40px 45px;
      }
      @include responsive(large) {
        display: flex;
        justify-content: center;
        padding: 60px 45px;
      }
      .section-prizes-container {
        width: inherit;
        max-width: 1110px;
        position: relative;
        .section-prizes-header {
          font-family: "bold";
          font-size: 14px;
          color: $swiper-h-color;
          margin-bottom: 20px;
          @include responsive(small) {
            font-size: 24px;
            margin-bottom: 28px;
          }
          @include responsive(large) {
            margin-bottom: 36px;
          }
        }
        .section-prizes-cards {
          width: inherit;
          display: flex;
          gap: 16px;
          overflow-x: scroll;
          scroll-behavior: smooth;
          box-sizing: content-box;
          user-select: none;
          padding-bottom: 20px;
          &::-webkit-scrollbar {
            display: none;
          }
          @include responsive(small) {
            padding-bottom: 28px;
          }
          @include responsive(medium) {
            padding-bottom: 38px;
          }
          @include responsive(large) {
            gap: 25px;
          }
          .card-box {
            min-width: 80%;
            display: flex;
            flex-direction: column;
            gap: 16px;
            padding: 28px;
            background-color: $white-color;
            @include responsive(swiper-mid) {
              min-width: 45%;
            }
            @include responsive(medium) {
              min-width: 40%;
              gap: 24px;
              border-radius: 8px;
            }
            @include responsive(large) {
              min-width: 35%;
            }
            @include responsive(largest) {
              min-width: 32%;
            }
            .global-finance-image {
              width: 118px;
              height: 52px;
            }
            .euro-money-image {
              width: 93.6px;
              height: 52px;
            }
            .the-banker-image {
              width: 52px;
              height: 52px;
            }
            h1 {
              font-family: "bold";
              font-size: 14px;
              color: $swiper-h-color;
              @include responsive(medium) {
                font-size: 16px;
              }
            }
            p {
              font-size: 14px;
              color: $swiper-p-color;
              @include responsive(medium) {
                font-size: 14px;
              }
            }
          }
        }
        .section-prizes-scroll-box {
          width: 100%;
          height: 2px;
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          background-color: $gray-color;
          border-radius: 1px;
          pointer-events: none;
          .scroll-thumb {
            height: 100%;
            background: $blue-color;
            transition: width 0.1s ease;
          }
        }
      }
    }
  }
}
