.button-menu {
  position: fixed;
  z-index: 95;
  right: 15px;
  bottom: 15px;
  display: flex;
  flex-direction: column-reverse;
  @include responsive(small) {
    bottom: 24px;
    right: 24px;
  }
  @include responsive(large) {
    bottom: 32px;
    right: 32px;
  }
  @include responsive(largest) {
    bottom: 40px;
    right: 40px;
  }
  #trigger-box {
    cursor: pointer;
    width: 48px;
    height: 48px;
    @include container(flex, center, center);
    border-radius: 50%;
    background-color: #424a4d;
    transition: background-color 0.25s ease-in-out;
    @include responsive(small) {
      width: 56px;
      height: 56px;
    }
    &:hover {
      background-color: rgba(66, 74, 77, 0.8);
    }

    svg {
      fill: white;
      animation: fade 0.5s ease-in;
    }
    .open-svg {
      display: block;
    }
    &.active .open-svg {
      display: none;
    }
    .close-svg {
      display: none;
    }
    &.active .close-svg {
      display: block;
    }
    &.active ~ .active-menu {
      display: flex;
    }
  }
  .active-menu {
    display: none;
    flex-direction: column-reverse;
    align-items: center;
    gap: 8px;
    margin-bottom: 8px;
    animation: fade 1s ease-in;
    @include responsive(small) {
      gap: 12px;
      margin-bottom: 12px;
    }
    div {
      cursor: pointer;
      width: 48px;
      height: 48px;
      background-color: white;
      border-radius: 50%;
      @include container(flex, center, center);
      @include responsive(small) {
        width: 56px;
        height: 56px;
      }
      svg {
        fill: $gray-color;
      }
    }
  }
}

#main-footer-container {
  margin-top: 80px;
  width: 100%;
  overflow-y: scroll;
  animation: fade 0.5s ease-in-out;
  flex: 1;
  &::-webkit-scrollbar {
    width: 0;
    transition: width 0.5s ease;
  }
  &.show-scrollbar {
    &::-webkit-scrollbar {
      width: 8px;
    }
    &::-webkit-scrollbar-track {
      background: rgba(222, 222, 222, .75);
      border-radius: 4px;
    }
    &::-webkit-scrollbar-thumb {
      background: rgba(0, 0, 0, .5);
      border-radius: 2px;
    }
    &::-webkit-scrollbar-button {
      display: none;
    }
  }
  div {
    height: 800px;
    width: 100%;
    background-color: antiquewhite;
  }
}
