@font-face {
  font-family: "regular";
  src: url(../../assets/fonts/TBCXRegular.dee156cc.woff2);
}

@font-face {
  font-family: "medium";
  src: url(../../assets/fonts/TBCXMedium.8ef1248a.woff2);
}

@font-face {
  font-family: "bold";
  src: url(../../assets/fonts/TBCXBold.6db5e61d.woff2);
}
