@mixin container($display, $justify, $align) {
  display: $display;
  justify-content: $justify;
  align-items: $align;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

$media-small: 479px;
$media-swiper-mid: 600px;
$media-medium: 767px;
$media-large: 1024px;
$media-largest: 1440px;

@mixin responsive($media) {
  @if $media == small {
    @media (min-width: $media-small) {
      @content;
    }
  } @else if $media == swiper-mid {
    @media (min-width: $media-swiper-mid) {
      @content;
    }
  } @else if $media == medium {
    @media (min-width: $media-medium) {
      @content;
    }
  } @else if $media == large {
    @media (min-width: $media-large) {
      @content;
    }
  } @else if $media == largest {
    @media (min-width: $media-largest) {
      @content;
    }
  }
}
